@model MySite.Models.Article

@{
    ViewBag.Title = "Details";
}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading"><a href="~/Article/Details/@Model.ArticleId">@Html.DisplayFor(modelItem => Model.Title)</a>
            </h2>
            <h5 class="lead">@Html.DisplayFor(modelItem => Model.ArticleCategory) - @Html.DisplayFor(modelItem => Model.ArticleDate)</h5>
            <img class="featurette-image img-responsive center-block" src="\Content\Images\@Model.ArticleImage" alt="@Model.ArticleImageAltText">
             <div>
                @Html.Raw(Model.ArticleContent)
            
                     
            </div>
              

        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-12">
            <div>Vote</div>

        </div>
        <div class="col-md-12">
            <div>@Html.Partial("_PartialMapView")</div>

        </div>
        <div class="col-md-12">
            <div>Social Links</div>

        </div>
        <div class="col-md-12">
            <h5 class="lead">@Html.DisplayFor(modelItem => Model.ArticleTags)</h5>
        </div>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.ArticleId}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
