@using MySite.Models;
@model PagedList.IPagedList<MySite.Models.Listing>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<!-- Custom CSS -->
<link href="css/shop-homepage.css" rel="stylesheet">

<!-- Page Content -->
<div class="container">
    <div class="row">

       <div class="row">@foreach (var item in Model)
        {
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                       @* <img class="img-responsive" src="\Content\Images\@item.ArticleImage" alt="@item.ArticleImageAltText">
                      *@ 
                        <div class="caption">
                            <h4>@Html.DisplayFor(modelItem =>  item.Price)</h4>
                        
                            <h5>
                                <a href="~/Search/Detail/@item.Id">@Html.DisplayFor(modelItem => item.Address)</a>
                            </h5>
                       
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><a href="/Listings/Edit/@item.Id">Edit</a></p>
                            <p>
                             
                            </p>
                        </div>
                    </div>
                </div>
  }
            </div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("MyListings",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
      
    </div>
</div>


